.button {
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	background: #e0e1e2;
	margin: 0 .25em 0 0;
	padding: .78571429em 1.5em;
    border-radius: .28571429rem;
    user-select: none;
    font-weight: 700;
    color: rgba(0, 0, 0, .8);
}

.button:hover { background-color: #CACBCD; }
.button:active { background-color: #BABBBC; }

.yellow { background-color: #FBBD08; }
.olive  { background-color: #B5CC18; }
.green  { background-color: #21BA45; }
.teal   { background-color: #00B5AD; }
.blue   { background-color: #2185D0; }

.yellow:hover { background-color: #eaae00; }
.olive:hover  { background-color: #a7bd0d; }
.green:hover  { background-color: #16ab39; }
.teal:hover   { background-color: #009c95; }
.blue:hover   { background-color: #1678c2; }

.yellow:active { background-color: #cd9903; }
.olive:active  { background-color: #8d9e13; }
.green:active  { background-color: #198f35; }
.teal:active   { background-color: #00827c; }
.blue:active   { background-color: #1a69a4; }

.colored { color: #fff; }